<div class="container">

    <div> 
        <img src="assets/img/headerBetania.png" class="img-fluid" alt="...">   
    </div>
    <div class="socialBetania">
        <a href="#" id="share-wa" class="sharer button"><em class="fa fa-2x fa-whatsapp"></em></a>
        <a href="#" id="share-fb" class="sharer button"><em class="fa fa-2x fa-facebook-square"></em></a>
        <a href="#" id="share-tw" class="sharer button"><em class="fa fa-2x fa-twitter-square"></em></a>
        <a href="#" id="share-li" class="sharer button"><em class="fa fa-2x fa-linkedin-square"></em></a>
        <a href="#" id="share-gp" class="sharer button"><em class="fa fa-2x fa-google-plus-square"></em></a>
        <a href="#" id="share-em" class="sharer button"><em class="fa fa-2x fa-envelope-square"></em></a>
        <a href="#" id="share-em" class="sharer button"><em class="fa fa-2x fa-youtube-square"></em></a>
    </div>
  
</div>

<app-navbar></app-navbar>
  
<!-- <div class="container main-container">
    <router-outlet></router-outlet>
</div> -->

<app-footer></app-footer>