 <!-- <div class="jumbotron jumbotron-fluid animated fadeIn fast">

    <div class="containerss">
      <h1 class="display-5">Ministerios de la Iglesia Bautista Betania</h1>
      <p class="lead">Un inmenso amor a Dios y una pasión por la gran comisión.</p>
    </div>
</div>   -->


<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-9">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/img/img1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/img/img2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/img/img3.jpg" class="d-block w-100" alt="...">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    
        <div class="col">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">HORARIO DE SERVICIOS</h5>
                <h6 class="card-subtitle mb-2 text-muted">Cultos Dominicales:</h6>
                <p class="card-text">1er Horario - Domingo: 8:30 am</p>
                <p class="card-text">2do Horario - Domingo: 10:30 am</p>
                <h6 class="card-subtitle mb-2 text-muted">Semanales:</h6>
                <p class="card-text">Oración - Miercoles: 8:30 am</p>
                <p class="card-text">Doctrina - Jueves: 10:30 am</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row"></div>
</div> 

  